/* Leave Alone */
.nav{
	overflow: hidden;	
}
.nav a {
	float: left;
	display:block;
	text-align:center;
	color:white;
	padding: 20px 18px;
	font-size: 20px;
	font-family: lobster;
	src: url(Lobster_1.3.otf);
	border-radius:40px;
	margin-left:18.5%;
}	
.nav a:hover{
		background-color:#F6ECFF;
		color:black;
	}
.nav a.active {
		
		color:black;
}
header{
	font-family: lobster;
	src: url(Lobster_1.3.otf);
	background-image: url(whistle.jpg);
	font-size:30px;
}
p{
	font-family: lobster;
	src: url(Lobster_1.3.otf);
	color:#B6B6B6;
	font-size:20px;
}
.flex{
	display:flex;
	justify-content:center;
}
body{
	background-color:#373838;
}
.facts{
	font-family: lobster;
	src: url(Lobster_1.3.otf);
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	color:#B6B6B6;
}
.info{
	font-family: lobster;
	src: url(Lobster_1.3.otf);
	color:#B6B6B6;
}
/* Start http://www.cursors-4u.com */ 
body, a:hover {cursor: url(http://cur.cursors-4u.net/others/oth-5/oth480.cur), progress !important;}
 /* End http://www.cursors-4u.com */
}
/* Mobile Layout */

@media screen and (max-width:500px){
	.whistles{
		display:block;
	}
img{
	content:url(logo.jpg);
	max-width:200px;
	overflow:hidden;
	}
	










