header{
	font-family: lobster;
	src: url(Lobster_1.3.otf);
	background-image: url(whistle.jpg);
	font-size:30px;
}
p{
	font-family: lobster;
	src: url(Lobster_1.3.otf);
	color:#B6B6B6;
	font-size:20px;
}
.whistles{
	display:flex;
	justify-content:center;
}
body{
	background-color:#373838;
}
